table {
  border: none;
  border-collapse: collapse;
}
th,
td {
  border: none;
  padding: 8px;
  text-align: center;
  font-size: 100%;
}
h1 {
  text-align: center;
  color: greenyellow;
}
p {
  text-align: left;
}
